<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>k_Level</key>
		<string>0</string>
		<key>k_Title</key>
		<string>Home</string>
		<key>k_HasSubMenu</key>
		<string>0</string>
		<key>k_IsOpen</key>
		<string>0</string>
		<key>k_ImageName</key>
		<string>home</string>
	</dict>
	<dict>
		<key>k_Level</key>
		<string>0</string>
		<key>k_Title</key>
		<string>Search</string>
		<key>k_HasSubMenu</key>
		<string>0</string>
		<key>k_IsOpen</key>
		<string>0</string>
		<key>k_ImageName</key>
		<string>search</string>
	</dict>
	<dict>
		<key>k_Level</key>
		<string>0</string>
		<key>k_Title</key>
		<string>PDS</string>
		<key>k_HasSubMenu</key>
		<string>0</string>
		<key>k_IsOpen</key>
		<string>0</string>
		<key>k_ImageName</key>
		<string>pds_menu</string>
	</dict>
	<dict>
		<key>k_Level</key>
		<string>0</string>
		<key>k_Title</key>
		<string>Look &amp; Bid</string>
		<key>k_HasSubMenu</key>
		<string>0</string>
		<key>k_IsOpen</key>
		<string>0</string>
		<key>k_ImageName</key>
		<string>lb</string>
	</dict>
	<dict>
		<key>k_Level</key>
		<string>0</string>
		<key>k_Title</key>
		<string>Forthcoming</string>
		<key>k_HasSubMenu</key>
		<string>0</string>
		<key>k_IsOpen</key>
		<string>0</string>
		<key>k_ImageName</key>
		<string>forthcoming_menu</string>
	</dict>
	<dict>
		<key>k_Level</key>
		<string>0</string>
		<key>k_Title</key>
		<string>Exhibition</string>
		<key>k_HasSubMenu</key>
		<string>0</string>
		<key>k_IsOpen</key>
		<string>0</string>
		<key>k_ImageName</key>
		<string>exhibition</string>
	</dict>
	<dict>
		<key>k_Level</key>
		<string>0</string>
		<key>k_Title</key>
		<string>My Selection</string>
		<key>k_HasSubMenu</key>
		<string>1</string>
		<key>k_IsOpen</key>
		<string>0</string>
		<key>k_ImageName</key>
		<string>myselection</string>
		<key>k_SubMenu</key>
		<array>
			<dict>
				<key>k_Level</key>
				<string>1</string>
				<key>k_Title</key>
				<string>Confirmed Goods</string>
				<key>k_HasSubMenu</key>
				<string>0</string>
			</dict>
			<dict>
				<key>k_Level</key>
				<string>1</string>
				<key>k_Title</key>
				<string>Wish List</string>
				<key>k_HasSubMenu</key>
				<string>0</string>
			</dict>
			<dict>
				<key>k_Level</key>
				<string>1</string>
				<key>k_Title</key>
				<string>My Bids</string>
				<key>k_HasSubMenu</key>
				<string>0</string>
			</dict>
			<dict>
				<key>k_Level</key>
				<string>1</string>
				<key>k_Title</key>
				<string>Consignment</string>
				<key>k_HasSubMenu</key>
				<string>0</string>
			</dict>
			<dict>
				<key>k_Level</key>
				<string>1</string>
				<key>k_Title</key>
				<string>Reservation</string>
				<key>k_HasSubMenu</key>
				<string>0</string>
			</dict>
			<dict>
				<key>k_Level</key>
				<string>1</string>
				<key>k_Title</key>
				<string>In-House viewing</string>
				<key>k_HasSubMenu</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>k_Level</key>
		<string>0</string>
		<key>k_Title</key>
		<string>My Profile</string>
		<key>k_HasSubMenu</key>
		<string>1</string>
		<key>k_IsOpen</key>
		<string>0</string>
		<key>k_ImageName</key>
		<string>profile</string>
		<key>k_SubMenu</key>
		<array>
			<dict>
				<key>k_Level</key>
				<string>1</string>
				<key>k_Title</key>
				<string>My Details</string>
				<key>k_HasSubMenu</key>
				<string>0</string>
			</dict>
			<dict>
				<key>k_Level</key>
				<string>1</string>
				<key>k_Title</key>
				<string>Change Password</string>
				<key>k_HasSubMenu</key>
				<string>0</string>
			</dict>
			<dict>
				<key>k_Level</key>
				<string>1</string>
				<key>k_Title</key>
				<string>Manage Notification</string>
				<key>k_HasSubMenu</key>
				<string>0</string>
			</dict>
			<dict>
				<key>k_Level</key>
				<string>1</string>
				<key>k_Title</key>
				<string>Business Summary</string>
				<key>k_HasSubMenu</key>
				<string>0</string>
			</dict>
			<dict>
				<key>k_Level</key>
				<string>1</string>
				<key>k_Title</key>
				<string>Feedback</string>
				<key>k_HasSubMenu</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>k_Level</key>
		<string>0</string>
		<key>k_Title</key>
		<string>My Customization</string>
		<key>k_HasSubMenu</key>
		<string>1</string>
		<key>k_IsOpen</key>
		<string>0</string>
		<key>k_ImageName</key>
		<string>mycustomization</string>
		<key>k_SubMenu</key>
		<array>
			<dict>
				<key>k_Level</key>
				<string>1</string>
				<key>k_Title</key>
				<string>Search</string>
				<key>k_HasSubMenu</key>
				<string>0</string>
			</dict>
			<dict>
				<key>k_Level</key>
				<string>1</string>
				<key>k_Title</key>
				<string>Result</string>
				<key>k_HasSubMenu</key>
				<string>0</string>
			</dict>
			<dict>
				<key>k_Level</key>
				<string>1</string>
				<key>k_Title</key>
				<string>Other Preferences</string>
				<key>k_HasSubMenu</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>k_Level</key>
		<string>0</string>
		<key>k_Title</key>
		<string>Help</string>
		<key>k_HasSubMenu</key>
		<string>0</string>
		<key>k_IsOpen</key>
		<string>0</string>
		<key>k_ImageName</key>
		<string>help</string>
	</dict>
	<dict>
		<key>k_Level</key>
		<string>0</string>
		<key>k_Title</key>
		<string>Write to Venus</string>
		<key>k_HasSubMenu</key>
		<string>0</string>
		<key>k_IsOpen</key>
		<string>0</string>
		<key>k_ImageName</key>
		<string>writetovenus</string>
	</dict>
	<dict>
		<key>k_Level</key>
		<string>0</string>
		<key>k_Title</key>
		<string>How To Remit</string>
		<key>k_HasSubMenu</key>
		<string>0</string>
		<key>k_IsOpen</key>
		<string>0</string>
		<key>k_ImageName</key>
		<string>howtoremit</string>
	</dict>
	<dict>
		<key>k_Level</key>
		<string>0</string>
		<key>k_Title</key>
		<string>Shipping Expense</string>
		<key>k_HasSubMenu</key>
		<string>0</string>
		<key>k_IsOpen</key>
		<string>0</string>
		<key>k_ImageName</key>
		<string>shippingexpense</string>
	</dict>
	<dict>
		<key>k_Level</key>
		<string>0</string>
		<key>k_Title</key>
		<string>Logout</string>
		<key>k_HasSubMenu</key>
		<string>0</string>
		<key>k_IsOpen</key>
		<string>0</string>
		<key>k_ImageName</key>
		<string>logout</string>
	</dict>
</array>
</plist>
